@media (max-width: 768px){

}

@media (max-width: 425px){

    p{
        margin: auto;
        display: block;
        width: 300px;
        text-align: center;
        font-size: 15px;
    }

    h1{
        font-size: 20px;
        margin: auto;
        display: block;
    }

    h6{
        font-size: 10px;
        line-height: normal;
        margin: auto;
        display: block;
    }

    .warning{
        line-height: normal;
        margin: auto;
        display: block;
    }

    .feitopor{
        margin-left: 25px;
        font-size: 12px; 
    }

    h3{
        font-size: 10px;
        line-height: normal;
        margin: auto;
        display: block;
    }

    .img1{
        width: 300px;
        height: 184px;
        margin: auto;
        display: block;
    }

    .anuncio{
        width: 350px;
        height: 225px;
    }

    .x{
        width: 25px;
        height: 25px;
    }

    .img2{
        width: 300px;
        height: 184px;
        margin: auto;
        display: block;
    }

    .img4{
        width: 300px;
        height: 184px;
        margin: auto;
        display: block;
    }

    .img5{
        width: 300px;
        height: 184px;
        margin: auto;
        display: block;
    }

    .mds{
       margin: auto;
       display: block;
       width: 300px;
    }

    li{
        margin-left: 20px;
        font-size: 13px;
    }

    a{
        font-size: 13px;
    }

   .menu-lateral{
    position: static;
    min-height: auto;
    width: 100%;
    margin-top: 50px;
   }

   .menu-lateral ul{
    flex-direction: row;

   }

}